.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.signup-form h1 {
    align-self: center;
}

.signup-form label {
    padding: 10px;
    align-self: center;
}

.signup-form button {
    align-self: center;
    width: 150px;
    color: rgb(230, 30, 77);
    border-color: rgb(230, 30, 77);
    background-color: white;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.signup-form button:hover {
    color: white;
    background-color: rgba(230, 30, 77, 0.9);
    cursor: pointer;
}