.delete-review-container {
    width: 400px;
    height: 100px;
    font-family: 'Titillium Web', sans-serif;
}

.delete-review-container h3 {
    display: flex;
    justify-content: center;
}

#delete-review-btns {
    display: flex;
    justify-content: center;
}

#delete-review-btn {
    align-self: center;
    width: 70px;
    color: rgba(230, 30, 77, 0.9);
    border-color: rgba(230, 30, 77, 0.9);
    background-color: white;
    margin-right: 20px;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#delete-review-btn:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}

#cancel-delete-btn {
    align-self: center;
    width: 70px;
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}

#cancel-delete-btn:hover {
    cursor: pointer;
}