.review-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2em;
    border-top: 1px solid lightgrey;
    /* border: 1px solid black; */
}

.reviewCard-container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.reviewCard-list {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 2em;
    /* border: 1px solid black; */
}

.review-details {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.review-header {
    text-decoration: underline;
    font-size: 16px;
    /* border: 1px solid black */
}


.delete-review-icon button {
    width: fit-content;
    border: none;
    background-color: white;
    cursor: pointer;
}

.edit-review-icon button {
    width: fit-content;
    border: none;
    background-color: white;
    cursor: pointer;
}

.review-owner {
    font-size: 14px;
    /* border: 1px solid black; */
}

.review-body {
    font-size: 13px;
    width: fit-content;
    /* border: 1px solid black; */
}

.review-container {
    display: flex;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 1080px;
    gap: 1em;
    border-bottom: 1px solid lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    /* border: 1px solid black; */
}

.review-profile-image {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 20px;
}

.review-btns-container {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
