.spot-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;
}

.spot-form-errors {
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 1em;
    color: red;
}

.spot-form-elements {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.upload-address {
    display: flex;
    justify-content: center;
}

.upload-address input {
    width: 250px;
    height: 2em;
}

.upload-city {
    display: flex;
    justify-content: center;
}

.upload-city input {
    width: 250px;
    height: 2em;
}

.upload-state {
    display: flex;
    justify-content: center;
}

.upload-state input {
    width: 250px;
    height: 2em;
}

.upload-country {
    display: flex;
    justify-content: center;
}

.upload-country input {
    width: 250px;
    height: 2em;
}

.upload-spot-name {
    display: flex;
    justify-content: center;
}

.upload-spot-name input {
    width: 250px;
    height: 2em;
}

.upload-description {
    display: flex;
    justify-content: center;
}

.upload-description textarea {
    width: 250px;
    height: 4em;
}

.upload-price {
    display: flex;
    justify-content: center;
}

.upload-price input {
    width: 250px;
    height: 2em;
}

.upload-spot-image {
    display: flex;
    justify-content: center;
}

.upload-spot-image input {
    width: 250px;
    height: 2em;
}

.spot-form button {
    align-self: center;
    width: 100%;
    color: white;
    border-color: rgb(230, 30, 77);
    border-radius: 10px;
    background-color: rgb(230, 30, 77);
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}

