.edit-spot-form {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;
}

.edit-spot-errors {
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 1em;
    color: red;
}

.edit-spot-form-elements {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.edit-spot-address {
    display: flex;
    justify-content: center;
}

.edit-spot-address input {
    width: 250px;
    height: 2em;
}

.edit-spot-city {
    display: flex;
    justify-content: center;
}

.edit-spot-city input {
    width: 250px;
    height: 2em;
}

.edit-spot-state {
    display: flex;
    justify-content: center;
}

.edit-spot-state input {
    width: 250px;
    height: 2em;
}

.edit-spot-country {
    display: flex;
    justify-content: center;
}

.edit-spot-country input {
    width: 250px;
    height: 2em;
}

.edit-spot-name {
    display: flex;
    justify-content: center;
}

.edit-spot-name input {
    width: 250px;
    height: 2em;
}

.edit-spot-description {
    display: flex;
    justify-content: center;
}

.edit-spot-description textarea {
    width: 250px;
    height: 4em;
}

.edit-spot-price {
    display: flex;
    justify-content: center;
}

.edit-spot-price input {
    width: 250px;
    height: 2em;
}

.edit-spot-form button {
    align-self: center;
    width: 100%;
    color: white;
    border-color: rgb(230, 30, 77);
    border-radius: 10px;
    background-color: rgb(230, 30, 77);
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}