.review-display {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    /* border: 1px solid black; */
}

.reviewCard-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* border: 1px solid black; */
}

#review-details h5 {
    /* border: 1px solid black */
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 30px;
}

#review-details button {
    width: 55px;
    height: 25px;
    background-color: white;
    border: 1px solid rgb(230, 30, 77);
    color: rgb(230, 30, 77);
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}

#review-details button:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}

