.spotCard-container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.spot-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spotCard-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}