.spot-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6em;
    margin-bottom: 2em;
    /* border: 1px solid black; */
}

.spotCard-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black */
}

.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* transition: transform 0.3s ease-in-out; */
    /* border: 1px solid black; */
}

.container:hover {
    transform: scale(1.04);
}

.image-container img {
    width: 300px;
    height: 210px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    object-fit: cover;
    /* cursor: pointer; */
    /* border: 1px solid black; */
}

.details-container {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    /* border: 1px solid black; */
}

.details-container h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}

#other-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black */
}



.contact-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.fa-linkedin {
    cursor: pointer;
}

.fa-github {
    cursor: pointer;
}
