.spot-details-container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 5em;
    padding-bottom: 2em;
    /* border: 1px solid red; */
}

.spot-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding-top: 2em;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    /* border: 1px solid black; */
}

.spot-details-name {
    display: flex;
    font-size: 30px;
    font-weight: 600;
    /* border: 1px solid black; */
}

.spot-details-rating {
    display: flex;
    font-size: 16px;
    /* border: 1px solid black; */
}

.update-delete-spot-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    /* border: 1px solid black; */
}

.spot-detail-image-container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

#main-image-container {
    display: flex;
    width: 50%;
    /* border: 5px solid black; */
}

#main-image-container img {
    width: 550px;
    height: 450px;
    object-fit: cover;
    border: 1px solid white;
}

.other-img-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.top-img-container {
    display: flex;
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.bottom-img-container {
    display: flex;
    width: 100%;
    height: 50%;
    /* border: 1px solid green; */
}

.top-left-img {
    display: flex;
    width: 50%;
}

.top-left-img img {
    width: 280px;
    object-fit: cover;
    border: 1px solid white;
}

.top-right-img {
    display: flex;
    width: 50%;
    /* border: 1px solid blue; */
}

.top-right-img img {
    width: 280px;
    object-fit: cover;
    border: 1px solid white;
}

.bottom-right-img {
    display: flex;
    width: 50%;
    /* border: 1px solid blue; */
}

.bottom-right-img img {
    width: 280px;
    object-fit: cover;
    border: 1px solid white;
}

.bottom-left-img {
    display: flex;
    width: 50%;
    /* border: 1px solid blue; */
}

.bottom-left-img img {
    width: 280px;
    object-fit: cover;
    border: 1px solid white;
}


.spot-owner-details {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    /* border: 1px solid black; */
}

#spot-description-container {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    /* border: 1px solid red; */
}

.spot-description-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    /* border: 1px solid black; */
}

.review-display {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    margin-left: 0px;
    /* border: 1px solid black; */
}

#delete-spot-btn-container {
    margin-right: 10px;
}

#delete-spot-btn-container button {
    cursor: pointer;
    width: 90px;
    height: 35px;
    background-color: rgb(230, 30, 77);;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    border-color: rgb(230, 30, 77);
    font-family: 'Titillium Web', sans-serif;
}

#edit-spot-btn-container button {
    width: 90px;
    height: 35px;
    background-color: rgb(230, 30, 77);
    border-radius: 10px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 13px;
    border-color: rgb(230, 30, 77);
}

#edit-spot-btn-container button:hover {
    background-color: rgb(230, 30, 77);
    color: white;
    cursor: pointer;
}

.create-delete-review-container button {
    /* width: 100px; */
    height: 35px;
    width: 100px;
    background-color: rgb(230, 30, 77);
    border-color: rgb(230, 30, 77);
    border-radius: 5px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.booking-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    /* border: 1px solid black; */
}

.details-booking-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 200px;
    /* border: 1px solid red; */
}

.bottomhalf-container {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    /* border: 1px solid black; */
}

.spot-owner-details {
    display: flex;
    gap: 0.5em;
    /* border: 1px solid red; */
}

.middle-container {
    display: flex;
}

.aircover-logo {
    padding-top: 2em;
    height: 26px;
}

.hosted-by {
    font-size: 22px;
    font-weight: 600;
}