.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
}

.nav-container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    border-bottom: 1px solid black;
}

.home-btn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.other-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
}

.list-spot-btn {
    margin-right: 10px;
}