.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    list-style-type: none;
    border: 2px solid black;
    right: 50px;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    font-family: 'Titillium Web', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    /* background-color: whitesmoke; */
    border-bottom: 1px solid black;
}

.nav-elements-container {
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    /* border: 1px solid red; */
}

.home-btn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.other-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
}

.list-spot-btn {
    margin-right: 10px;
    margin-top: 10px;
    margin-top: 5px;
}

.list-spot-btn button {
    border: none;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16 px;
}

.list-spot-btn button:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}

.profile-btn {
    margin-top: 5px;
}

.profile-btn button {
    border-radius: 10px;
    border-color: black;
    height: 35px;
    width: 45px;
    background-color: white;
}

.profile-btn button:hover {
    cursor: pointer;
}

.profile-btn-dropdown-options li button {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.profile-btn-dropdown-options li button:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}

#logout-current-user-btn {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#logout-current-user-btn:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}

#user-dash {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 5px;
    font-family: 'Titillium Web', sans-serif;
}

#user-dash:hover {
    background-color: rgba(230, 30, 77, 0.9);
    color: white;
    cursor: pointer;
}


#logo-img {
    width: 100px;
    height: 25px;
    padding: 5px;
    margin-top: 5px;
}