.login-form {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 2em;
    font-family: 'Titillium Web', sans-serif;
}

.login-errors {
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 1em;
    color: red;
}

.login-form-elements {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 1px solid black; */
}

.login-cred {
    display: flex;
    justify-content: center;
}

.login-cred input {
    width: 250px;
    height: 2em;
}

.login-password {
    display: flex;
    justify-content: center;
}

.login-password input {
    width: 250px;
    height: 2em;
}

.login-form button {
    align-self: center;
    width: 100%;
    color: white;
    border-color: rgb(230, 30, 77);
    border-radius: 10px;
    background-color: rgb(230, 30, 77);
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    cursor: pointer;
}